<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.bff.javampd.server" level="INFO"/>

    <logger name="org.springframework" level="INFO"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
